@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body{
  font-family: "Fjalla One", sans-serif;
  scroll-behavior: smooth;
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide {
  animation: slide 0.5s ease-out;
}
